<h1>スレッド一覧</h1>
<%= form_tag root_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "検索" %>
<% end %>
<p>タグ検索</p>
<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :t_search, params[:t_search] %>
  <%= submit_tag "検索", name: nil %>
<% end %>

<% if @topics %>
  <ul>
    <% @topics.each_with_index do |topic, i| %>
      <li><%= i + 1 %>:<%= link_to topic.title, post_show_path(topic.id) %>
      <%= link_to '[削除]', topic_destroy_path(topic.id), method: :destroy, data: {confirm: "削除してもよろしいですか？"} %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>そのタグは存在しません</p>
<% end %>

<p>新規作成</p>
<%= form_tag topics_create_path do %>
    <%= label_tag :title, "スレッド名" %>
    <%= text_field_tag :title, @topic.title %>
    
    <%= label_tag :t_name, "タグ" %>
    <%= text_field_tag :t_name, @t_name.name %>

    <%= submit_tag %>
<% end %>