<h1><%= @topic.title %></h1>
<p>タグ</p>
<% if @tags %>
  <% @tags.each_with_index do |tag| %>
    <%= tag.name %></p>
  <% end %>
<% end %>
<hr>
<% @posts.each_with_index do |post , i| %>
  <p><%= i+1 %>:<%= post.name %></p>
  <p><%= post.body %></p>
<% end %>
<hr>
<%= link_to "戻る", root_path %>
<%= form_for @post, :url => post_create_path do |f| %>
  <p>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>

    <%= f.hidden_field :topic_id %>
  <p>
    <%= f.submit "投稿" %>
  </p>
<% end %>